@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delius', cursive;

}
body {
    font-size: 16px;
}

header div {
    background-color: #E06666;
    width: 100%;
}

header div img {
   position: relative;
   left: 80%;
   height: 100px;
   border-radius: 50%;
   margin: 10px;
}

header nav {
    clear: right;
    border: 2px solid black;
    padding: 10px;
}

header nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    margin-left: 40px;
}

/*SECAO 1 */
.secao1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.8em;
}

/*BOTAO*/
.botao {
    margin-top: 20px;
    background-color: white;
    padding: 5px;
    font-size: 0.6em;
    box-shadow: 2px 4px black;
    font-weight: bold;
}

/*SECAO 2 */
.secao2 {
    background-color: #D5A6BD;
    display: flex;
    flex-direction: row;
}

.secao2img {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    padding: 2% 0;
    padding-right: 1%;
}
.secao2img img{
    height: 150px;
    border-radius: 50%;
}

.secao2text {
    width: 70%;
    padding-top: 5%;
    padding-left: 2%;
}

.secao2text p{
    padding-top: 10px;
    font-size: 1.4em;
}

/*SEÇÃO 3*/
.secao3 {
    background-color: #8E7CC3;
    display: flex;
    flex-direction: row;
}

.secao3text {
    width: 70%;
    padding-top: 5%;
    padding-right: 2%;
    text-align: right;
}

.secao3text p{
    padding-top: 10px;
    font-size: 1.4em;
}

.secao3img {
    width: 30%;
    padding: 2% 0;
    padding-left: 1%;
}
.secao3img img{
    height: 150px;
    border-radius: 50%;
}

/*FOOTER*/
footer {
    background-color: #EA9999;
    padding: 2%;
    font-weight: bold;
}